<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8">
        <title>二手商品房交易可视化平台</title>
        <script  th:src="@{/js/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
    <script language="JavaScript" th:src="@{/js/js.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
        <link rel="stylesheet" th:href="@{/css/comon0.css}">
</head>
<body>
        <div class="loading">
          <div class="loadbox"> <img th:src="@{/images/loading.gif}"> 页面加载中... </div>
        </div>
        <div class="head">
          <h1>二手商品房交易可视化平台</h1>
          <div class="time" id="showTime">2019/12/05 16:16:54</div>
                <script>
        var t = null;
            t = setTimeout(time,1000);//開始运行
            function time()
            {
               clearTimeout(t);//清除定时器
               dt = new Date();
                var y=dt.getFullYear();
                var mt=dt.getMonth()+1;
                var day=dt.getDate();
               var h=dt.getHours();//获取时
               var m=dt.getMinutes();//获取分
               var s=dt.getSeconds();//获取秒
                var t = null;
               document.getElementById("showTime").innerHTML = y+"/"+Appendzero(mt)+"/"+Appendzero(day)+" "+Appendzero(h)+":"+Appendzero(m)+":"+Appendzero(s)+"";
                function Appendzero(obj){
                    if(obj<10) return "0" +""+ obj;
                    else return obj;
                 }
                t = setTimeout(time,1000); //设定定时器，循环运行
            }

        </script>

        </div>
        <div class="mainbox">
          <ul class="clearfix">
            <li>

              <div class="boxall" style="height: calc(58% - .15rem)">
                <div class="alltitle">统计建造时间段的二手房数量</div>
                 <div class=" boxnav " id="echarts4">
                </div>
              </div>
              <div class="boxall" style="height: calc(42% - .15rem)">
                  <div class="alltitle">统计二手房关注人数与房子数量</div>
                  <div class="boxnav" id="echarts3"></div>
                </div>
            </li>
            <li>

                  <div class="boxall" style="height: calc(58% - .15rem)">
                    <div class="alltitle">统计二手房优势的各类比例</div>
                      <div class="boxnav" id="echarts1"></div>
                    </div>
                    <div class="boxall" style="height: calc(42% - .15rem)">
                      <div class="alltitle">二手房各类规格比例</div>
                        <div class="boxnav" id="echarts2"></div>
                      </div>

            </li>
            <li>

                <div class="boxall" style="height: calc(33.333% - .15rem)">

                    <div class="alltitle">面积区间范围的房子数量</div>
                    <div class="boxnav" id="echarts5"></div>

              </div>
              <div class="boxall" style="height: calc(33.333% - .15rem)">
                <div class="alltitle">各类标签占比</div>
                <div class="boxnav" id="">
                    <table border="0" cellspacing="0">
                        <tr>
                            <th></th>
                            <th>必看好房</th>
                            <th>房主自荐</th>
                            <th>新上</th>
                            <th>未知标签</th>

                        </tr>
                        <tr>
                            <th>上海</th>
                            <td>16.93%</td>
                            <td>16.06%</td>
                            <td>10.35%</td>
                            <td>56.66%</td>
                        </tr>
                        <tr>
                            <th>北京</th>
                            <td>76.14%</td>
                            <td>4.74%</td>
                            <td>1.45%</td>
                            <td>17.66%</td>
                        </tr>
                        <tr>
                            <th>广州</th>
                            <td>13.00%</td>
                            <td>3.26%</td>
                            <td>17.56%</td>
                            <td>66.17%</td>
                        </tr>
                        <tr>
                            <th>深圳</th>
                            <td>9.22%</td>
                            <td>	2.18%</td>
                            <td>4.63%</td>
                            <td>	83.97%</td>
                        </tr>
                    </table>




            </div>

              </div>
              <div class="boxall" style="height: calc(33.333% - .15rem)">
                <div class="alltitle">关注城市的总房数量</div>
                <div class="boxnav" id="echarts6" style="height:calc(100% - .3rem);"></div>
              </div>
            </li>
          </ul>
        </div>

</body>
</html>
