<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace要和mapper接口的全类名保持一致,路径 + 接口类名-->
<!--sql语句的id要和mapper接口中的方法名保持一致-->

<mapper namespace="com.myblog.mapper.CategoryMapper">

    <!--List<Category> getAllCategory();-->
    <select id="getAllCategory" resultType="Category">
        select * from category
    </select>

    <!--Category getCategoryById(Integer id);-->
    <select id="getCategoryById" resultType="Category">
        select * from category where id = #{id};
    </select>

    <!--void updateCategory(Category category);-->
    <update id="updateCategory">
        update category set title = #{title} where id = #{id}
    </update>

    <!--void addCategory(Category category);-->
    <insert id="addCategory" >
        insert into category values(null,#{title},null)
    </insert>
</mapper>